# BE_pandas
### 11310840
### l'année 2013
### DIJON-LONGVIC

In [6]:
%autosave 30
%matplotlib inline
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

Autosaving every 30 seconds

In [7]:
# option d'affichage
pd.options.display.max_rows = 6
pd.options.display.max_columns = 7

In [8]:
def jour(date):
    return str(date.month)+str(date.day)

In [9]:
# lecture
data = pd.read_csv('donnes_meteo.csv',sep=';')
data = data.fillna(0.)
#data.info()
data.head()
#data.tail()

,ID OMM station,Date,Pression au niveau mer,...,Type de tendance barométrique.1,Temps passé 1.1,Temps présent.1
0,7280,2013-01-01T19:00:00+01:00,101540.0,...,3.0,0.0,0
1,7280,2013-01-05T13:00:00+01:00,103660.0,...,8.0,0.0,58
2,7280,2013-01-08T01:00:00+01:00,102940.0,...,3.0,0.0,0
3,7280,2013-01-06T22:00:00+01:00,103190.0,...,8.0,0.0,0
4,7280,2013-01-15T22:00:00+01:00,101010.0,...,3.0,0.0,0

In [10]:
data2 = data[['Date','Température','Hauteur de la neige fraîche','Précipitations dans la dernière heure','Direction du vent moyen 10 mn','Vitesse du vent moyen 10 mn']].copy()
#data2.info()
data2['Date'] = pd.to_datetime(data2['Date'])
data2.set_index('Date',inplace=True)
hauteur_total_annee = data2["Précipitations dans la dernière heure"].sum()
vitesse_vent_maximal = data2["Vitesse du vent moyen 10 mn"].max()
position = data2.index[data2["Vitesse du vent moyen 10 mn"]==vitesse_vent_maximal]
print(hauteur_total_annee,vitesse_vent_maximal,position)
data2

304.5 15.9 DatetimeIndex(['2013-12-25 00:00:00', '2013-12-24 21:00:00',
               '2013-12-24 15:00:00'],
              dtype='datetime64[ns]', name=u'Date', freq=None)

,Température,Hauteur de la neige fraîche,Précipitations dans la dernière heure,Direction du vent moyen 10 mn,Vitesse du vent moyen 10 mn
Date,,,,,
2013-01-01 18:00:00,278.85,0.0,0.0,290,1.0
2013-01-05 12:00:00,279.95,0.0,0.0,0,0.0
2013-01-08 00:00:00,277.15,0.0,0.0,0,0.0
...,...,...,...,...,...
2013-01-30 09:00:00,281.95,0.0,0.0,180,4.1
2013-01-31 15:00:00,283.95,0.0,0.0,200,6.2
2013-01-31 18:00:00,282.65,0.0,0.0,190,5.7

In [11]:
data2.loc["2013-03-20":"2013-06-20",'saison'] = "printemp"
data2.loc["2013-06-21":"2013-09-22",'saison'] = "ete"
data2.loc["2013-09-23":"2013-12-20",'saison'] = "automne"
data2.loc["2013-12-21":"2013-12-31",'saison'] = "hiver"
data2.loc["2013-01-01":"2013-03-19",'saison'] = "hiver"
data2
a = data2.groupby(['saison'])
pri = a.get_group('printemp').copy()
ete = a.get_group('ete').copy()
aut = a.get_group('automne').copy()
hiv = a.get_group('hiver').copy()
hp_max_pri,hn_max_pri,moy_tem_pri = pri['Précipitations dans la dernière heure'].max(),pri['Hauteur de la neige fraîche'].max(),pri['Température'].mean()
hp_max_ete,hn_max_ete,moy_tem_ete = ete['Précipitations dans la dernière heure'].max(),ete['Hauteur de la neige fraîche'].max(),ete['Température'].mean()
hp_max_aut,hn_max_aut,moy_tem_aut = aut['Précipitations dans la dernière heure'].max(),aut['Hauteur de la neige fraîche'].max(),aut['Température'].mean()
hp_max_hiv,hn_max_hiv,moy_tem_hiv = hiv['Précipitations dans la dernière heure'].max(),hiv['Hauteur de la neige fraîche'].max(),hiv['Température'].mean()
print(hp_max_pri,hp_max_ete,hp_max_aut,hp_max_hiv)
print(hn_max_pri,hn_max_ete,hn_max_aut,hn_max_hiv)
print(moy_tem_pri,moy_tem_ete,moy_tem_aut,moy_tem_hiv)

6.0 9.0 10.0 5.0
0.0 0.0 0.0 0.04
284.594339623 292.246261682 281.449012694 275.402598315

In [12]:
col=pri.index
pri["jour"]=col
pri.loc[:,"jour"]=pri["jour"].apply(jour)

col=ete.index
ete["jour"]=col
ete.loc[:,"jour"]=ete["jour"].apply(jour)

col=aut.index
aut["jour"]=col
aut.loc[:,"jour"]=aut["jour"].apply(jour)

col=hiv.index
hiv["jour"]=col
hiv.loc[:,"jour"]=hiv["jour"].apply(jour)

In [13]:
A = pri.groupby(['jour'])
T=A["Température"].mean()
T

jour
320    279.3125
321    279.2375
322    281.4500
         ...
67     293.6375
68     292.6000
69     289.6250
Name: Température, Length: 93, dtype: float64

In [14]:
J=[]
for i in range(93):
    if T[i] >14.01 + 273.15:
        J.append(T.index[i])
J

['414',
 '415',
 '416',
 '417',
 '418',
 '425',
 '55',
 '56',
 '57',
 '58',
 '59',
 '610',
 '611',
 '612',
 '613',
 '615',
 '616',
 '617',
 '618',
 '619',
 '620',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69']